/*---------------------
Responsive grid showcase for teaching.
Author: Enno Hyttrek, ehy.training@gmail.com
Version: 1.2
---------------------*/


/*---------------------
RESET
---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: block;
}


/*---------------------
LAYOUT
---------------------*/

body {
    position: relative;
}

.wrapper {
    position: absolute;
    width: 100%;
}

header {
    position: relative;
}


div.grid > div {
    display: flex;
}

div.grid > div > div {
    width: 25%;
    padding: 0 8px;
}

div.grid > div > div > div {
    height: 100vh;
}


.control {
    position: fixed;
    top: 8px;
    right: 8px;
    z-index: 1000;
}

main {
    min-height: 70vh;
}

section.content ul {
    padding-left: 1em;
    list-style-type: square;
}

div.columns h2 {
    column-span: all;
}

/*---------------------
TYPOGRAPHY
---------------------*/

body {
    font-family: 'Inter';
    font-weight: 300;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
p,
ul,
figure {
    margin-bottom: 1rem;
}

h1, h2 {
    font-size: 2.1em;
}

h2 {
    font-weight: 100;
}



/*---------------------
COLOUR & STYLE
---------------------*/

:root {
    --color-cool-grey-dark: hsl(200, 42%, 13%);
    --color-cool-grey-light: hsl(200, 21%, 89%);
        --color-cool-grey-light-trans: hsla(200, 21%, 89%, 0.2);
}

div.grid > div > div > div {
    background: hsla(0, 100%, 50%, 0.1);
}

body {
    background: var(--color-cool-grey-dark)
}

main {
    background: #fff;
}

.container {
        background: var(--color-cool-grey-light-trans)
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}

header,
footer {
    color: #fff;
}


/*---------------------
RESPONSIVE
---------------------*/


        @media only screen and (min-width: 1184px) {
            
            h1,h2 {
                font-size: 2.9em;
            }

        }
